* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

ul {
  list-style-type: none;
}

button {
  font: inherit;
}

body {
  height: 100%;
  padding: 20px;
  background-color: #00000011;
}

.add-btn {
  margin-bottom: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 10px;
  opacity: 0.9;
}
.add-btn:hover {
  opacity: 1;
}
.add-btn:active {
  transform: scale(1.1);
}

.book-list ul {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.book-list li {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.add-dialog {
  position: fixed;
  top: 10vh;
  margin: 0 auto;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px #00000011;
}
.add-dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.add-dialog form input:not([type="radio"]) {
  display: block;
  margin-top: 5px;
  padding: 7px 10px;
}
.add-dialog form fieldset {
  padding: 10px;
}

.submit {
  padding: 5px;
}
